* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Trebuchet MS, sans-serif;
} 

a {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-emphasis: none;

}

a:hover {
  color: #4dff4d;
}

ul,li {
  list-style-type: none;
  text-emphasis: none;
  display: inline;
  padding-left: 15px;
}

.item-1 {
  background: linear-gradient(200deg, #1a1a1a, #000000);
  color: white;
  padding: 20px;
}

.item-2 {
  background-color: white;
  color: black;
  padding: 15px;
}

.item-3 {
  background: linear-gradient(200deg, #0d0d0d, #000000);
  color: white;
  padding: 15px;
}

.navigation {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.navigationt {
  text-align: center;
}

.aboutt {
  text-align: center;
  margin-top: 160px;
}

.wtsn {
  padding-bottom: 10px;
}

.wtsnt {
  padding-bottom: 10px;
  font-weight: 600;
}

.lin5 {
  width: 600px;
  margin-left: 480px;
}

.kr2 {
  padding-top: 5px;
}